<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- Disable session persistence across Tomcat restarts -->
    <Manager pathname="" />

    <!-- Increase Tomcat static resource cache to prevent background cache eviction warnings -->
    <Resources cachingAllowed="true" cacheMaxSize="40960" />

    <!-- Change the default repository storage location -->
    <!--
    <Parameter name="repository-directory" value="/data/storage" override="false"/>
    -->

    <!-- Enable this to let wicket output a wicketpath attribute for elements,
         see: https://xmdocumentation.bloomreach.com/library/development/create-a-selenium-test-case.html -->
    <!--
    <Parameter name="output-wicketpaths" value="true"/>
    -->
</Context>
